* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-family: sans-serif;
  /* background-image: url(./assets/bg2.jpg); */
  background-color: rgb(255, 214, 161);
  background-position: center;
  /* margin: 0 auto;
  height: 100%;
  max-width: 1170px; */
}
